$size: 0.0625em
$position-offset: 0.03125em

@mixin data-hover($color: var(--fallback-wa))
  box-shadow: 0 0 5px 5px $color
  border-radius: 999px

  & ~ ul
    .avatar
      border-radius: 999px
      box-shadow: 0 0 5px 5px $color

.hierarchical_tree
  top: 40%
  left: 40%
  right: 40%
  bottom: 40%
  user-select: none

  &-content
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    user-select: none
    display: flex
    justify-content: center
    align-items: center
    
    > div
      touch-action: none
      cursor: move
      height: 748px
      width: 1268px
      flex: 0 0 1268px
      padding: 100px

:deep() ul
  position: relative
  padding-top: 20px

  ul:before
    content: ''
    position: absolute
    top: -6px
    left: 50%
    border-left: 2px solid #ccc
    width: 0
    height: 27px

:deep() li
  position: relative
  padding: 20px 10px 0 10px
  float: left

  text-align: center
  list-style-type: none

  &:before, &:after
    content: ''
    position: absolute
    z-index: 1
    top: 0
    right: 50%
    width: 50%
    height: 20px
    border-top: 2px solid #ccc

  &:after
    left: 50%
    right: auto

    border-left: 2px solid #ccc

  &:only-child::after, &:only-child::before
    content: ''
    display: none

  &:only-child
    padding-top: 0

  &:first-child::before, &:last-child::after
    border: 0 none

  &:last-child::before
    border-right: 2px solid #ccc
    border-radius: 0 5px 0 0

  &:first-child::after
    border-radius: 5px 0 0 0


:deep() .data
  cursor: pointer

  .avatar
    border-radius: 9999px
  
  @media(hover)
    &:hover
      box-shadow: 0 0 5px 5px var(--fallback-p)
      border-radius: 999px
      

:deep() .--active
  @include data-hover(var(--wa))

:deep() .branch-content
  position: relative
  display: inline-block
    
  &:hover

    .badge
      display: none

    .info
      display: block
      z-index: 5

    .avatar
      z-index: 5
