LOG_LEVEL=debug
MONGODB_URL="mongodb://127.0.0.1:27017/"
MONGODB_DATABASE="aibetrade"
TEMPORAL_URL="localhost:7233"
HTTP_ADDR="localhost:8080"
API_ROLE="enabled"
WORKER_ROLE="enabled"
JWT_SECRET="REPLACEME"

PAYMENT_GATEWAY_URL=
PAYMENT_GATEWAY_LOGIN=
PAYMENT_GATEWAY_KEY=
PAYMENT_GATEWAY_PAYMENT_SYSTEM_ID=
